<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".dagger.SimpleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dagger.DaggerTestActivity"
            android:label="@string/title_activity_dagger_test" />

        <activity
            android:name=".nestedscroll.NestedScrollTestActivity"
            android:label="@string/title_activity_nestedscroll_test" />

        <activity
            android:name=".scroller.ScrollerTestActivity"
            android:label="@string/title_activity_scroller_test" />

        <activity
            android:name=".service.ServiceTestActivity"
            android:label="@string/title_activity_service_test" />

        <activity android:name=".service.MessengerActivity" />


        <activity android:name=".service.BinderActivity" />


        <service
            android:name=".service.BinderService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.song.example.service.BinderService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.song.example.service.MessengerService" />
            </intent-filter>
        </service>


        <activity
            android:name=".provider.ContentProviderTestActivity"
            android:label="@string/title_activity_contentprovider_test" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.exam.book.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>