<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".dagger.SimpleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dagger.DaggerTestActivity"
            android:label="@string/title_activity_dagger_test" />
        <activity
            android:name=".nestedscroll.NestedScrollTestActivity"
            android:label="@string/title_activity_nestedscroll_test" />
        <activity
            android:name=".scroller.ScrollerTestActivity"
            android:label="@string/title_activity_scroller_test" />
        <activity
            android:name=".service.ServiceTestActivity"
            android:label="@string/title_activity_service_test" />
        <activity android:name=".service.MessengerActivity" />
        <activity android:name=".service.BinderActivity" />
        <activity android:name=".tile.TileTestActivity" />

        <service
            android:name=".tile.TestTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_android"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.BinderService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.song.example.service.BinderService" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.song.example.service.MessengerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".provider.ContentProviderTestActivity"
            android:label="@string/title_activity_contentprovider_test" />

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.exam.book.provider"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label_contentprovider" />

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.RxJavaTestActivity" />

        <service
            android:name=".account.TestAccountService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator_test" />
        </service>
        <service
            android:name=".account.SyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter_test" />
        </service>

        <activity
            android:name=".account.AccountTestActivity"
            android:exported="true" />
        <activity
            android:name=".account.AddAccountTestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.song.example.action.ACCOUNT_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".okhttp.OkhttpTestActivity" />
        <activity android:name=".account.ConfirmCredentialsTestActivity" />
        <activity android:name=".camera.CameraTestActivity"></activity>

        <activity
            android:name=".launchmodeflag.MainActivity"
            android:label="Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launchmodeflag.AActivity"
            android:label="A"/>
        <activity
            android:name=".launchmodeflag.BActivity"
            android:label="B" />
        <activity
            android:name=".launchmodeflag.CActivity"
            android:label="C" />
        <activity
            android:name=".launchmodeflag.DActivity"
            android:label="D" />
        <activity
            android:name=".launchmodeflag.ModeSingleInstanceActivity"
            android:label="Mode_SingleInstance"
            android:launchMode="singleInstance" />
        <activity
            android:name=".launchmodeflag.ModeSingleTopActivity"
            android:label="Mode_SingleTop"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmodeflag.ModeSingleTaskActivity"
            android:label="Mode_SingleTask"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchmodeflag.OtherTaskAffinityActivity"
            android:label="TaskAffinity_com.test.app"
            android:taskAffinity="com.test.app"/>
    </application>

</manifest>